@import "tailwindcss";

:root {
    --background: #030712;
    /* gray-950 */
    --foreground: #f9fafb;
    /* gray-50 */
    --font-inter: var(--font-inter);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), ui-sans-serif, system-ui;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Altezza del tuo header */
}

@keyframes gradient-x {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}


/* Rimuovi eventuali riferimenti a .dark o @media prefer-color-scheme */